.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

::placeholder {
    text-align: center;
    justify-content: center;
    color: rgb(24, 23, 23);
    font-size: 25px;
    font-family: 'Inter', sans-serif;
}

.input:hover {
    background-color: rgb(123, 188, 244);
}

.host {
    border: 2px solid rgb(252, 246, 246);
    width: 335px;
    margin: auto;
    border-radius: 15px;
    background-color: #fefeff;
    box-shadow: 1px 1px 21px black;


    
}

#port1 {

    width: 125px;
    height: 60px;
    padding: 20px;
    margin: 0 3px;
    border: none;
    border-radius: 9px;
    cursor: pointer;

    background-color: rgb(44, 206, 136);
    ;


}


.work {
    margin: 5px 1px;
    padding-top: 0px;
    padding-bottom: 36px;
}

#opr:hover {

    background-color: #6ff681e3;
}

html,
body {
    height: 100%;
    width: 100%;

    color: rgb(255, 0, 102);
    font-family: 'Inter', sans-serif;

    background: rgb(16, 165, 211);


}

.null {
    margin-bottom: 50px;
}
.button {
    width: 56px;
    height: 60px;
    padding: 20px;
    margin: 0 3px;
    color: black;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    background-color: #d4a5a5;

}

#port {

    width: 60px;
    height: 60px;
    padding: 20px;
    margin: 0 3px;
    border: none;
    border-radius: 9px;
    cursor: pointer;

    background-color: rgb(122, 122, 214);


}

.button:hover {
    background-color: #3c4043d5;

}


#opr1:hover {

    background-color: #6ff681e3;
}


.table {
    margin: 5px 4px;
}

.table1 {

    margin-bottom: 20px;
}


.row input {
    width: 284px;
    height: 61px;
    font-size: 20px;
    margin: 0;
    padding: 6px 16px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: right;
    box-shadow: 1px 1px 15px gray;
    background-color: rgb(188, 221, 250);
    font-size: 30px;
}




p {
    align-items: center;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.centertext {
    text-align: center;
}

.bg-red {
    background: red;
}

.table1 input {
    width: 265px;
    height: 61px;
    font-size: 20px;
    margin: 0;
    padding: 6px 16px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: right;
    box-shadow: 1px 1px 15px gray;
    background-color: rgb(251, 163, 163);
    font-size: 30px;
}

.margin-auto {
    margin: auto;
}


.items-center {
    align-items: center;
}

#clc {
    width: 60px;
    height: 60px;
    padding: 20px;
    margin: 0 1px;
    color: aliceblue;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    /* background-color: #ff5200; */
    background: red;


}

#clc:hover {

    background: #fa5555;
}